<div class="chat-message-container">
  <div class="message-content">
    <%= cl_image_tag @conversation.recipient.photo.key, height: 70, width: 70, crop: :fill %>
    <%= @conversation.recipient.name %>
  </div>
  <div class="chat-body">
    <%= render 'shared/chat_messages' %>
  </div>

  <div class="chat-send">
    <%= render 'shared/chat_form' %>
  </div>
</div>
