// Specific CSS for your home-page
body {
  background-color: #FFF;
}

.home-container {
  background: image-url('homepage-01') no-repeat center;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  position: relative;
  bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us-form {
      box-shadow: 4px 4px 20px rgba(0,0,0,0.12);
      padding: 0px 24px;
      padding-bottom: 24px;
      padding-top: 24px;
      margin: 10px;
    }

.about-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // position: relative;
  // flex-grow: 1;
  // // grid-gap: 16px;
  padding: 16px;
}

.blue-sign-up-btn{
  width: 200px;
  margin-left: 71%;
  margin-top: 5%;
  padding: 18px 30px;
  border-radius: 12px;
  a{
    color: white;
  }
}

.text-home-page {
  h1 {
    width: 40%;
    // text-align: end;
    position: relative;
    right: -129%;
    font-weight: bold;
    background: -webkit-linear-gradient(#2636AA, #046CE7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.user-favorite-home-page {
  h2 {
    width: 40%;
    // text-align: end;
    position: relative;
    left: -2%;
    font-weight: bold;
    background: -webkit-linear-gradient(#2636AA, #046CE7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
