.bg-no-bookings {
  display: block;
  background: image-url('no-bookings-bg') no-repeat center;
  height: 460px;
  .no-bookings-text{
    padding: 5%;
    padding-left: 15%;
    h2 {
      padding-bottom: 50px;
    }
  }
}

.titles-no-bookings{
  margin: 24px 10%;
  h2 {
    margin-left: 24px;
  }
  p{
    margin-top: 24px;
    margin-left: 24px;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    a{
      text-decoration: none;
    }
  }
}
.bg-no-requests {
  display: block;
  background: image-url('no-request-bg') no-repeat center;
  height: 460px;
  .no-bookings-text{
    padding: 5%;
    padding-left: 15%;
    h2 {
      padding-bottom: 50px;
      text-shadow: 3px 3px rgba(255,255,255,0.7)
    }
  }
}
