.profile-show-container{
  display: flex;
  background-color: rgba(0,0,0,0.07);
  padding: 24px 5%;
  .profile-show-menu{
    width: 15%;
    height: max-content;
    position: sticky;
    top: 96px;
    .profile-menu{
      background-color: white;
      box-shadow: 8px 8px 32px rgba(0,0,0,0.1);
      padding: 36px 24px;
      border-radius: 16px;
      margin-top: 12px;
      a:hover{
        background-color: rgba(86,130,163,0.1);
      }
    }
  }
  .profile-show-modal{
    padding-top: 12px;
    padding-left: 24.5px;
    background-color: white;
    width: 65%;
    flex-grow: 1;
    margin-left: 32px;
    height: max-content;
    margin-top: 12px;
    border-radius: 16px;
    .profile-cover-picture{
      img{
        height: 160px;
        width: 1000px;
        // margin-left: 24.5px;
        border-radius: 12px;
      }
    }
    .profile-avatar{
      display: flex;
      .profile-user-picture{
        img {
          border-radius: 8px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
