<div>
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
        <div class="chat-box">
          <% if message.user.id == current_user.id  %>
            <div class="message-body-sender" style="text-align: end;">
              <%= message.body %>
              <p><%= message.created_at.strftime(" %l:%M") %></p>
            </div>
          <% else %>
            <div class="message-body-recipient" style="text-align: start;">

              <%= message.body %>
            </div>
          <% end %>
        </div>
    <% end %>
  <% end %>
</div>
