<%= form_for [@conversation, @message] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div class="form-group">
    <%= f.submit "Send Reply", class: "form-control btn btn-primary" %>
  </div>
<% end %>
