<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Personal
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Profile</a>
    <a class="dropdown-item" href="#">My Boats</a>
    <a class="dropdown-item" href="#">Request</a>
    <a class="dropdown-item" href="#">Bookings</a>
    <%= link_to 'Edit Profile', edit_user_registration_path(current_user.id), class: "dropdown-item" %>
  </div>
</div>
