<div class="home-container">
  <div class="search-bar">
    <div class="input">
      <%= form_tag boats_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Where do you want to sail?" %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
    <% if current_user.nil? %>
      <div class="btn btn-primary">
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>




