<div class="home-container">
  <%= render "search_bar_home" %>
    <% if current_user.nil? %>
      <div class="btn btn-primary">
        <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>
  <!-- About us section: -->
<div class="about-us-grid">
  <div class="about-us-form">
    <div>
      <h2>Rent boats in Berlin</h2>
    </div>
    <div>
      <p>Enjoy your time with friends and family</p>
    </div>
  </div>

  <div class="about-us-form">
    <div>
      <h2>Go on an adventure</h2>
    </div>
  <div>
    <p>Give yourself time that you will remember forever</p>
  </div>
  </div>

  <div class="about-us-form">
    <div>
      <h2>Add your boat</h2>
    </div>
  <div>
      <p>Make money on your boat when not using it</p>
  </div>
  </div>
</div>



