.black-container {
  color: white;
  font-weight: lighter;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  height: max-content;
  padding: 100px 7% 48px 7%;
  .title-btn-black{
    h2{
      color: white;
    }
  }
  .black-content {
    width: 40%;
    p {
      margin-top: 12px;
      color: white;
    }
  }
  .black-cards-container {
    margin: 48px 0;
    .main-black-card{
      background-color: rgba(255,255,255,0.065);
      border-radius: 18px;
      width: 500px;
      height: 490px;
      margin: 0 12px 40px 0;
      img {
        border-radius: 18px 18px 0 0;
      }
      p{
        font-size: 16px;
        padding: 12px 12px 20px 12px;
        margin-top: 12px;
        text-align: justify;
      }
    }
  }
}
.small-black-card {
  background-color: rgba(255,255,255,0.065);
  height: max-content;
  border-radius: 12px;
  width: 30%;
  img {
    border-radius: 12px 12px 0 0;
  }
  p{
    font-size: 14px;
    padding: 6px 6px 0px 6px;
    margin-top: 6px;
    text-align: justify;
  }
}

.large-black-card {
  margin: 16px 0 0 14px;
  background-color: rgba(255,255,255,0.065);
  height: max-content;
  border-radius: 12px;
  width: max-content;
  img {
    border-radius: 12px 12px 0 0;
  }
  p{
    font-size: 14px;
    padding: 6px 6px 6px 6px;
    margin-top: 6px;
    text-align: justify;
  }
}

.small-black-cards-container {
  img{
    width: 100%;
  }
}

