.search-criteria {
  justify-content: center;
  width: 588px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  background-color: #50a2c9;
}


.search-item {
  color: black;
  padding: 15px;
  border-radius: 12px;
  background-color: #50a2c9;
}
