#content-index {
  display: flex;
}


#map-index {
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .grid-boats {
    grid-template-columns: 1fr;
  }
  #map-index {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .grid-boats {
    grid-template-columns: 1fr 1fr;
  }
  #map-index {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .grid-boats {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map-index {
    display: block;
  }
}
