.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-lewagon-white {
  background-color: white;
}
