.search-bar-home {
  display: flex;
  position: relative;
  bottom: 100px;
  .input{
    width: 300px;
  }

  #capacity{
      width: 250px;
    }

  input {
    // border-radius: 12px;
    padding: 30px;

  }
  .btn-primary {
    margin-left: 2px;
    padding: 18px 36px;
    // background-color: #50a2c9;
  }

  .btn-primary:hover {
    // background-color: #3e91b2;
  }
  .btn-primary a {
    color: white;
    text-decoration: none;
    margin-left: 2px;
    padding: 18px 36px;
  }
  .datepick {
    width: 180px;
  }
}

.search-bar-index {
  display: flex;
  justify-content: center;
  .input{
    width: 150px;
  }

  #capacity{
      width: 150px;
    }

  input {
    padding: 30px;
  }
  .btn-primary {
    padding: 18px 36px;
  }
  .btn-primary a {
    color: white;
    text-decoration: none;
    margin-left: 2px;
    padding: 18px 36px;
    width: 100px;
  }
  .datepick {
    width: 150px;
  }
}

.border-radius-search-btn {
  border-radius: 0 8px 8px 0;
  width: max-content;
}
.border-radius-search {
   border-radius: 8px 0 0 8px;
}
