.user-favorite-container {
  margin: 0px 10% 48px 10%;
  h2 {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .class-favorite-container {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-favorite-card {
      h2 {
        font-weight: bold;
        font-size: 18px;
        margin-top: 12px;
      }
      p {
        margin: 12px;
        margin-top: 0px;
        color: #9f9f9f;
      }
      border-radius: 20px;
      width: 30%;
      text-align: center;
      padding: 0px;
      margin: 0px 0;
      box-shadow: 2px 2px 18px rgba(0,0,0,0.1);
      img {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
    }
  }
}
