<div class="container">
  <h2>Sail away with one of the boats</h2>
  <div class="grid-boats">
    <% @boats.each do |boat| %>
      <div>
        <%= cl_image_tag boat.photo.key, height: 300, width: 300, crop: :fill %>
        <h2><%= link_to boat.name, boat_path(boat) %></h2>
      </div>
    <% end %>
  </div>
</div>
